.banner__inner {
    background-image: url(../img/effect_bg_19@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 120px 0;
    color: #fff;
  }
  .banner__inner .title {
    font-size: 50px;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 70px;
  }
  .banner__inner .desc {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 70px;
  }
  .banner__inner .desc a {
    color: #fff;
    display: block;
  }
  .banner__inner .small {
    text-decoration: underline;
    font-size: underline;
  }
  @media (max-width: 960px){
  
  }
  @media (max-width: 600px){
    .banner__inner {
      padding: 80px 0;
    }
    .banner__inner .title {
      font-size: 30px;
      margin-bottom: 20px;
    }
    .banner__inner .desc {
      font-size: 16px;
      margin-bottom: 40px;
    }
  }
  